<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Controle de Estoque - SGM</title>
</head>

<body>

<h1>Controle de Estoque</h1>


<table border="1">

    <tr>
        <th>Medicamento</th>
        <th>Quantidade disponível</th>
        <th>Situação</th>
    </tr>


    <tr>
        <td>Exemplo</td>
        <td>20 unidades</td>
        <td>Disponível</td>
    </tr>


</table>


<br>


<h2>Atualizar estoque</h2>


<form>

    <label>Nome do medicamento:</label>
    <br>
    <input type="text">


    <br><br>


    <label>Quantidade:</label>
    <br>
    <input type="number">


    <br><br>


    <button type="submit">
        Atualizar
    </button>


</form>


<br>


<a href="/inicio">
    Voltar ao início
</a>


</body>

</html>