<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Horários e Alertas - SGM</title>
</head>

<body>

<h1>Horários e Alertas</h1>


<table border="1">

    <tr>
        <th>Medicamento</th>
        <th>Horário de uso</th>
        <th>Alerta</th>
    </tr>


    <tr>
        <td>Exemplo</td>
        <td>08:00</td>
        <td>Tomar medicamento</td>
    </tr>


</table>


<br>


<h2>Cadastrar novo horário</h2>


<form>

    <label>Nome do medicamento:</label>
    <br>
    <input type="text">


    <br><br>


    <label>Horário:</label>
    <br>
    <input type="time">


    <br><br>


    <button type="submit">
        Salvar horário
    </button>


</form>


<br>


<a href="/inicio">
    Voltar ao início
</a>


</body>

</html>